.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
}

.form__fieldset {
    margin: 0 auto;
    border: 1px solid #f6f6f7;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.form__field {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    color: hsl(0, 0%, 40%);
    font-style: italic;
}

.form__field--star {
    border: none;
}

.form__field:required {
    border-color: hsl(0, 0%, 60%);
}

.form__field:hover {
    border-color: hsl(0, 0%, 50%);
}

.form__button {
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    border: none;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #ccc;
    cursor: pointer;
}

.form__button:hover {
    background-color: hsl(0, 0%, 70%);
}

.form__button:active {
    background-color: hsl(0, 0%, 60%);
}

.form__legent {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #ccc;
}

.form__result {
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    text-align: left;
    color: hsl(0, 3%, 12%);
    font-style: italic;
}